09_Run_python/run_python.json
{
  "name": "Run_python",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        -160
      ],
      "id": "469edbd7-9e73-487b-8b0f-47abf7736a19",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "uv run python3 --version"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -320,
        -160
      ],
      "id": "b92477dd-f8ea-4135-8745-044151c72ea2",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfdcf025-bd53-4d95-a3dd-1c63f6174621",
              "name": "output",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -160
      ],
      "id": "28043e2b-188c-476e-9d98-74fb8cd15be4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa31cd49-0cc5-446d-b762-ccc1398b027b",
  "meta": {
    "instanceId": "db3ed06fb1d71d8f93caf7da2791fd0ccc658304ef74e111008e32fa0efba548"
  },
  "id": "1Ko2TT8jgpmkDxLA",
  "tags": []
}