16_RAG_Step_by_step/RAG03 - Agent with Supabase vector store.json
{
  "name": "RAG03 - Agent with Supabase vector store",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -592,
        -304
      ],
      "id": "37d41a93-cbb5-4fe5-9453-5f4c86b18f58",
      "name": "When chat message received",
      "webhookId": "aa3f461d-a52f-4c7e-b685-2250fe46e9db"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an F1 Expert\n\nYou are tasked with answering a question using the information retrieved from tha attached vector store. \n\nYour goal is to give an accurate answer based on this information ONLY.\n\nIf you cannot answer the question using the provided informationor if no information is returned from vector store, say \"Sorry I don't know\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -224,
        -304
      ],
      "id": "14776bc1-c989-477f-8823-c6ba0f085061",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        176
      ],
      "id": "ebbe9f49-6826-430a-9850-d1371b20fe89",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fjM4x9d8jZBSLCTb",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        144
      ],
      "id": "c4cae433-89f8-4b53-bcda-e3d0d9d2c41c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        144
      ],
      "id": "29281536-6517-4fa1-b846-44e9d472d6c2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fjM4x9d8jZBSLCTb",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -640
      ],
      "id": "4911402c-a189-44a5-9851-f2d84ab33db2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -448
      ],
      "id": "623c8136-5d82-42de-9090-c96e8348158d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "fjM4x9d8jZBSLCTb",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        -432
      ],
      "id": "0b6e185d-702e-4e6e-9346-63e9927488af",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        -288
      ],
      "id": "c2ca0412-ee68-41fd-a3c6-51a79211a81b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "https://www.fia.com/system/files/documents/fia_2026_f1_regulations_-_section_c_technical_-_iss_12_-_2025-06-10.pdf",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -640
      ],
      "id": "1000be89-7507-4f1b-a4a7-4a84526a3295",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant details on Formula 1 with this tool",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        96,
        -48
      ],
      "id": "afd59b5d-e332-4645-a9db-033a27ffbca7",
      "name": "f1_knowledgebase",
      "credentials": {
        "supabaseApi": {
          "id": "iK6gTwc09ZUBBvrq",
          "name": "Supabase account RAG N8N"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        496,
        -672
      ],
      "id": "5b0f6b36-27ec-4bd5-b5a1-3eccd67bfba3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "iK6gTwc09ZUBBvrq",
          "name": "Supabase account RAG N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -96,
        -624
      ],
      "id": "a58aaca8-d628-4e12-af60-b64248123f07",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1df1fee6-e60d-49e6-b238-201fb9a63d0e",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -624
      ],
      "id": "2cd38d7d-8cc0-476b-b597-c7acd1730dd4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "f1_knowledgebase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "f1_knowledgebase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f823822-470e-4738-ba47-361d4e89292a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db3ed06fb1d71d8f93caf7da2791fd0ccc658304ef74e111008e32fa0efba548"
  },
  "id": "9ArFRhxhtGovfoY2",
  "tags": [
    {
      "createdAt": "2025-07-24T18:09:12.455Z",
      "updatedAt": "2025-07-24T18:09:12.455Z",
      "id": "lfDC6vu8rgzvsFXK",
      "name": "RAG"
    }
  ]
}