01_news/Agent_News.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        -20
      ],
      "id": "c395bb8a-aa43-4139-8aee-bb915cf0d36b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Se requiere obtener todas las noticias de la última semana",
        "options": {
          "systemMessage": "=Obten todas los articulos de noticias publicados en Tool_get_news. \nEstrutura cada noticia con el title, luego con content, el url y publishedAt en formato markdown para prepararlo como un mensaje que va a ser enviado a Telegram el mensaje colocalo entre comillas invertidas ```[mensaje]```.\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -400,
        -20
      ],
      "id": "5ab8e6e3-1634-4751-93d4-e965ed436ec6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -520,
        200
      ],
      "id": "596ef3a5-584f-4102-a947-e3c12dbe805f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F9uBzET4rLQFcPsU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJ2nUSZYlzWYvVn9",
          "mode": "list",
          "cachedResultName": "RSSClient"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -220,
        280
      ],
      "id": "565ce71c-edd9-4f3c-a009-e598266ddbaf",
      "name": "Tool_get_news"
    },
    {
      "parameters": {
        "chatId": "4277807",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "f395c5a4-aaa3-47e9-bc2a-cbe8dae82c09",
      "name": "Telegram",
      "webhookId": "1a258b09-3cae-4787-982d-3f00a5b144b7",
      "credentials": {
        "telegramApi": {
          "id": "pBOX6KZDQbH782d8",
          "name": "Telegram account  ChatbotAssitant"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool_get_news": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9ee1cf731afadd4ff2eb0ec2fd8cdd7bc4d564a7e22825b38dec3d20f1befef"
  }
}