05_Agent_Architecture/argent_architecture.json
{
  "name": "Agent Arhitecture",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        100,
        1560
      ],
      "id": "213e3968-6b3f-4de5-81ab-db0d45122352",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        1800
      ],
      "id": "d3c4c53c-2616-44a7-a99b-5b3daebc93be",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        1800
      ],
      "id": "98905987-3aa5-42e1-a26e-6be9f24f8633",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "path": "f3ea7d20-feea-49b6-89b4-7834f46f0105",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        1560
      ],
      "id": "e6cb6e60-c29f-4bd7-81cb-5248814b68c7",
      "name": "Webhook1",
      "webhookId": "f3ea7d20-feea-49b6-89b4-7834f46f0105"
    },
    {
      "parameters": {
        "content": "# Single Agent + Human in the Loop + Tools",
        "height": 480,
        "width": 1110,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        1500
      ],
      "typeVersion": 1,
      "id": "31401643-6484-4228-8a5a-fa96d307dafb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        1560
      ],
      "id": "b54ba31a-53a2-4375-921a-4426dfddb959",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "304f2bc8-5316-4fda-ad75-3908e0a723fd",
              "leftValue": "={{ $('Webhook1').item.json.query.request_to_jira }}",
              "rightValue": "eeher",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        1780
      ],
      "id": "5699dca2-1bc4-466e-b478-8601dedff86a",
      "name": "If"
    },
    {
      "parameters": {
        "table": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
        "columns": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Columns', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        160,
        1800
      ],
      "id": "218f5b6c-cda2-4033-a87a-7994a8a0dc4d",
      "name": "Microsoft SQL"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        1780
      ],
      "id": "5a05c566-824b-4680-9b31-3d66e09b3a07",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1260,
        540
      ],
      "id": "3f5385d3-651e-49b1-abd1-16354fc8c4ab",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1800,
        1120
      ],
      "id": "5b82ba52-916c-4ee5-94fa-c64abc92cdcd",
      "name": "OpenAI2"
    },
    {
      "parameters": {
        "path": "f3ea7d20-feea-49b6-89b4-7834f46f0105",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1060,
        540
      ],
      "id": "f7efeff3-b728-4e17-b709-276c27bffa99",
      "name": "Webhook2",
      "webhookId": "f3ea7d20-feea-49b6-89b4-7834f46f0105"
    },
    {
      "parameters": {
        "content": "# Agents Hierarchy + Shared Tools + Pararell",
        "height": 840,
        "width": 1390,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        460
      ],
      "typeVersion": 1,
      "id": "997d7bba-daca-4b03-9495-8be32adb4a58",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca7b524d-3c05-4973-80cc-39e3e32d87f1"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1600,
        740
      ],
      "id": "572c7308-b07a-469e-a248-8ba774c5e835",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "ykyyku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1760,
        540
      ],
      "id": "53dcdf80-19c0-4ba4-9b8c-8a82729f8dd4",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1760,
        920
      ],
      "id": "8090f96e-ee78-4e54-bbed-6cedd377c8fa",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2160,
        740
      ],
      "id": "8ea6e390-7e7d-4b0b-88c0-de1a5b2ed372",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "# Sequential + MCP Servers + Tools",
        "height": 500,
        "width": 1390,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        -80
      ],
      "typeVersion": 1,
      "id": "2ff024fc-df21-4c22-ab28-2db79f7fe055",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1720,
        0
      ],
      "id": "9f7747e8-78d7-494b-9b24-604547a5d137",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2140,
        0
      ],
      "id": "37ffb98f-8763-411f-8abb-12f70afa7626",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send email. Format email body as HTML.",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1920,
        240
      ],
      "id": "7d868cac-c1d6-46aa-96f8-a1483d9bdaf4",
      "name": "Gmail1",
      "webhookId": "e008c667-4adc-4cd4-b165-795f99870cd1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1700,
        240
      ],
      "id": "c9a4bb7a-7049-47e4-b187-8673cbde7e9f",
      "name": "OpenAI3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get information about email contacts. This will help you get email by name.",
        "documentId": {
          "__rl": true,
          "value": "1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q",
          "mode": "list",
          "cachedResultName": "n8n Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1480,
        240
      ],
      "id": "d9c3719c-5cfa-4752-ba32-3ee864ebec48",
      "name": "Contacts1"
    },
    {
      "parameters": {
        "path": "f3ea7d20-feea-49b6-89b4-7834f46f0105",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1060,
        0
      ],
      "id": "fdf04b17-06e5-48e0-aff9-fb95ec6835f8",
      "name": "Webhook3",
      "webhookId": "f3ea7d20-feea-49b6-89b4-7834f46f0105"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1280,
        0
      ],
      "id": "f2478f25-cb7a-4b30-81c7-39c46fe329b9",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1240,
        240
      ],
      "id": "0be58559-ea40-41fd-88c8-b6b170eb8c89",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1260,
        760
      ],
      "id": "b697f509-24bf-4b94-aa70-c7943557bc81",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1260,
        1420
      ],
      "id": "c4508860-57e5-4e57-9b2e-8a6cf0ddba07",
      "name": "AI Agent7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1740,
        2200
      ],
      "id": "035acd55-a75a-464b-b432-50007bfe86cc",
      "name": "OpenAI4"
    },
    {
      "parameters": {
        "path": "f3ea7d20-feea-49b6-89b4-7834f46f0105",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1060,
        1420
      ],
      "id": "5f85d62b-e808-4b1e-b5be-f32f1d99bcbe",
      "name": "Webhook4",
      "webhookId": "f3ea7d20-feea-49b6-89b4-7834f46f0105"
    },
    {
      "parameters": {
        "content": "# Agents Hierarchy + Loop + Pararell + Shared RAG",
        "height": 1200,
        "width": 1390,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        1340
      ],
      "typeVersion": 1,
      "id": "1ccd514e-728b-4443-843b-8968da8a8051",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca7b524d-3c05-4973-80cc-39e3e32d87f1"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1560,
        1420
      ],
      "id": "c5bff1af-0d83-48e3-8b9a-77e744f3e12f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "ykyyku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1760,
        1560
      ],
      "id": "a0dceed8-8ad0-4a6f-9f78-d98d850ceba9",
      "name": "AI Agent8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1760,
        1980
      ],
      "id": "e2ccd62a-43ae-401a-918a-07998e6ef3bd",
      "name": "AI Agent9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2160,
        1420
      ],
      "id": "6a7fd42a-98e0-4057-9872-cdedc092002f",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2160,
        1760
      ],
      "id": "b4b75a66-71df-4873-b46e-55cd34dd2887",
      "name": "Merge1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1080,
        1660
      ],
      "id": "76b47e91-b671-4505-86e9-e7e7a8381b73",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        1900,
        2200
      ],
      "id": "4a63839a-2654-41e4-8eac-938e304bfd43",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "search",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.microsoftOneDriveTool",
      "typeVersion": 1,
      "position": [
        1900,
        1780
      ],
      "id": "6a70a619-dcd9-4a0d-8508-0e60bfdcf05e",
      "name": "Microsoft OneDrive"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1440,
        1660
      ],
      "id": "fd9924a7-9688-4374-991b-3a6d6fb0a4a1",
      "name": "Calculator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        100,
        1040
      ],
      "id": "0ba1bbad-6314-4318-a6ba-5dd3d85fa5d1",
      "name": "AI Agent10"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        1280
      ],
      "id": "a75f9f47-aed5-4443-a845-6419379f00ea",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        1040
      ],
      "id": "428ddda5-fe67-49b0-ba8f-e5e6cc752e5c",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        1280
      ],
      "id": "991e9994-46d1-4390-a796-4dd074cd5544",
      "name": "OpenAI5"
    },
    {
      "parameters": {
        "path": "f3ea7d20-feea-49b6-89b4-7834f46f0105",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        1040
      ],
      "id": "0d880e9d-912c-4d01-8466-2c45b3eb9c32",
      "name": "Webhook5",
      "webhookId": "f3ea7d20-feea-49b6-89b4-7834f46f0105"
    },
    {
      "parameters": {
        "content": "# Single Agent + Tools + Router",
        "height": 500,
        "width": 1110,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        960
      ],
      "typeVersion": 1,
      "id": "3fe5873b-4b79-4806-a384-88ed22908843",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Page', ``, 'string') }}"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        180,
        1280
      ],
      "id": "245aefd5-cbc3-44f4-adc7-708b9425d168",
      "name": "Notion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a434b46f-b602-4e4b-b7fa-59ab6c182eac",
              "leftValue": "=1",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1140
      ],
      "id": "55eef7b4-0f84-4adf-93d8-a89c7c3c633f",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        1220
      ],
      "id": "61f22c8b-e476-40c6-9f0e-5bcf6f04c2a9",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "dfnf",
        "toolDescription": "fdfddfdmf",
        "tableName": {
          "__rl": true,
          "value": "4",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2060,
        2200
      ],
      "id": "9f70cc21-ceb4-4383-b2ae-3ac888d1df63",
      "name": "Vector Store"
    },
    {
      "parameters": {
        "owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Project_Owner', ``, 'string') }}",
        "repository": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Project_Name', ``, 'string') }}",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "body": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body', ``, 'string') }}",
        "labels": [],
        "assignee_ids": []
      },
      "type": "n8n-nodes-base.gitlabTool",
      "typeVersion": 1,
      "position": [
        300,
        1280
      ],
      "id": "1f7d61f3-300b-42bb-a1f1-969424be1a89",
      "name": "GitLab"
    },
    {
      "parameters": {
        "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.hubspotTool",
      "typeVersion": 2.1,
      "position": [
        280,
        1800
      ],
      "id": "b1d24c66-4aa9-422c-b8af-1065b5c7414e",
      "name": "HubSpot"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        1780
      ],
      "id": "1a47a5c0-2d17-42c6-af88-957818df1974",
      "name": "OpenAI6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        140,
        2100
      ],
      "id": "e2e03790-4dc2-4e31-a942-4bb94f08ed63",
      "name": "AI Agent11"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        2360
      ],
      "id": "23fcab54-cd35-4186-9cbc-10f7d6fd15d0",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        2360
      ],
      "id": "a16b1e66-4b1b-4cf0-9beb-25e53100382f",
      "name": "OpenAI7"
    },
    {
      "parameters": {
        "path": "f3ea7d20-feea-49b6-89b4-7834f46f0105",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        2100
      ],
      "id": "6c90d62b-7027-499a-aace-e1ad38e15805",
      "name": "Webhook6",
      "webhookId": "f3ea7d20-feea-49b6-89b4-7834f46f0105"
    },
    {
      "parameters": {
        "content": "# Single Agent + Dynamically Call Other Agents",
        "height": 520,
        "width": 1110,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        2020
      ],
      "typeVersion": 1,
      "id": "74d81f0f-16bd-4008-b5b9-e7b1a48089cf",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        2100
      ],
      "id": "275f24cc-2807-4dd3-80ec-7722c71ff18f",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "table": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
        "columns": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Columns', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        300,
        2360
      ],
      "id": "6602edc4-6f0e-4696-bdc6-c1b790e5e7f4",
      "name": "Microsoft SQL1"
    },
    {
      "parameters": {
        "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.hubspotTool",
      "typeVersion": 2.1,
      "position": [
        420,
        2360
      ],
      "id": "42d49049-686c-4f95-985d-73a1c7b1b786",
      "name": "HubSpot1"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
          "mode": "id"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        180,
        2360
      ],
      "id": "07e54797-3dbc-40a2-b234-f8a11d336187",
      "name": "Airtable"
    },
    {
      "parameters": {
        "name": "Call_Agent",
        "workflowId": {
          "__rl": true,
          "value": "MJrFESQgzsFq52WG",
          "mode": "list",
          "cachedResultName": "Architectures"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        600,
        2360
      ],
      "id": "6fb14062-c656-4dc6-9e62-18c6584993a6",
      "name": "Call another Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        1660
      ],
      "id": "86f138ad-1ead-40cf-9949-5c3b9333c9ce",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2180,
        2360
      ],
      "id": "3f93c812-cd73-487e-b0e2-2e13d910a89f",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        180,
        520
      ],
      "id": "2cdf5bf5-1af8-42fe-a24b-391c39667cce",
      "name": "AI Agent12"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        760
      ],
      "id": "8472cb58-c8b1-47c7-8b93-ca2c73b8fb96",
      "name": "Simple Memory6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        520
      ],
      "id": "a50608ab-bfd6-4871-b322-364714eee87e",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send email. Format email body as HTML.",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        760
      ],
      "id": "3b643262-1cad-4634-b83b-8cfe22d5b4ca",
      "name": "Gmail2",
      "webhookId": "e008c667-4adc-4cd4-b165-795f99870cd1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        760
      ],
      "id": "b3a967d7-a6d9-4bab-9205-21e9807290e3",
      "name": "OpenAI8"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool allows you to get the list of supported tools from Jira."
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        160,
        760
      ],
      "id": "82ca6078-abbc-4264-bd1e-8e0108026018",
      "name": "Atlassian Tools2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tools allows you to execute tools from Jira. Use this tool only if you know the exact tool name and its description.",
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"toolName\") }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        300,
        760
      ],
      "id": "c177b2be-89f1-49ad-a826-03f54fa63a89",
      "name": "Atlassian Execute2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get information about email contacts. This will help you get email by name.",
        "documentId": {
          "__rl": true,
          "value": "1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q",
          "mode": "list",
          "cachedResultName": "n8n Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        480,
        760
      ],
      "id": "eab0f355-004c-4871-8077-d18350ec5897",
      "name": "Contacts2"
    },
    {
      "parameters": {
        "path": "f3ea7d20-feea-49b6-89b4-7834f46f0105",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        520
      ],
      "id": "b760a8a6-feaa-400e-89b3-89efa7fc8577",
      "name": "Webhook7",
      "webhookId": "f3ea7d20-feea-49b6-89b4-7834f46f0105"
    },
    {
      "parameters": {
        "content": "# Single Agent + MCP Servers + Tools",
        "height": 480,
        "width": 1110,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        440
      ],
      "typeVersion": 1,
      "id": "b19b5219-1c83-45a5-b738-941def50b5ec",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        240
      ],
      "id": "fbb9e4c0-6ad3-4b8e-997d-5fb3d48f78ea",
      "name": "Simple Memory7"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send email. Format email body as HTML.",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        600,
        240
      ],
      "id": "33fc5735-71b4-4df4-85ee-a8e2cc2e4aec",
      "name": "Gmail3",
      "webhookId": "e008c667-4adc-4cd4-b165-795f99870cd1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        240
      ],
      "id": "d973c733-a11a-45a2-ae22-c60a9acf8ed0",
      "name": "OpenAI9"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get information about email contacts. This will help you get email by name.",
        "documentId": {
          "__rl": true,
          "value": "1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q",
          "mode": "list",
          "cachedResultName": "n8n Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plvRlghLiEakExG06hw-wUapeeO6ydap93MWSZ57T8Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        360,
        240
      ],
      "id": "6e065ce3-f0bb-4a16-a387-56b8aa068b50",
      "name": "Contacts3"
    },
    {
      "parameters": {
        "content": "# Single Agent + Tools",
        "height": 480,
        "width": 1110,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        -80
      ],
      "typeVersion": 1,
      "id": "d906e1a7-94dd-4934-9e49-dd91b6f701e4",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        0
      ],
      "id": "e29d31cb-818f-4b54-9cb6-572ba160d74b",
      "name": "When chat message received",
      "webhookId": "ef61ff48-3906-4319-b3a6-a49d8b69a31f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a helpful agent equipped with tools that helps the user achieve his goals.\n\nIf asked about emails, first:\n1. Get contacts from Google sheet\n2. Send email to the contact\n\nIf asked about Jira, first, before making the request plan your work. You typically perform two steps:\n1. List available tools in Jira\n2. Execute selected tool (e.g., jira_search) you got before. Do not guess.\n\nNext execute without asking for user confirmation, while using memory to understand your progress.\n\nUser request: \n{{ $json.query.request_to_jira }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        160,
        0
      ],
      "id": "5e84ff29-73bf-419b-9e6e-f725e3121cab",
      "name": "AI Agent 0"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        240
      ],
      "id": "7f16036f-8aa1-4301-81d3-04552060c475",
      "name": "Google Calendar"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "message": "jtrmrtmtrrmtrtmtrmrtmrmmrtmrttrmrtmrtmrmttrmrmtmtr",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        440,
        1560
      ],
      "id": "a180121a-f4c5-4424-95c1-7326d183e35a",
      "name": "Slack Approval",
      "webhookId": "d87fbd40-686b-4106-9ef2-7e17fa26c9fb"
    },
    {
      "parameters": {
        "from": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('From', ``, 'string') }}",
        "to": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilioTool",
      "typeVersion": 1,
      "position": [
        2100,
        1120
      ],
      "id": "f0958069-ce82-4cef-8311-59cebf07b984",
      "name": "Twilio1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1800,
        740
      ],
      "id": "c0eca0f2-602c-40f2-84d9-dc410d4674c5",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1980,
        1120
      ],
      "id": "065415ac-a55c-48c4-9613-4b980ad6f3af",
      "name": "Gmail",
      "webhookId": "fb2b1128-6d95-41d8-8def-88397cf2e4f1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        600,
        760
      ],
      "id": "ca2ed053-06d3-4ef0-b3b7-acb5b16df962",
      "name": "Google Calendar1"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-newsletter-u38841.vm.elestio.app",
            "x-real-ip": "34.67.146.145",
            "x-forwarded-for": "34.67.146.145",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "token": "78c54c4e-7655-406f-85c7-364f83607dee",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.12 aiohttp/3.11.16"
          },
          "params": {},
          "query": {
            "request_to_jira": "What are the current items in progress in TMP in Jira?"
          },
          "body": {},
          "webhookUrl": "https://n8n-newsletter-u38841.vm.elestio.app/webhook-test/f430539d-f735-49e9-8b01-983d3ace5584",
          "executionMode": "test"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "n8n-newsletter-u38841.vm.elestio.app",
            "x-real-ip": "34.67.146.145",
            "x-forwarded-for": "34.67.146.145",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "token": "78c54c4e-7655-406f-85c7-364f83607dee",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.12 aiohttp/3.11.16"
          },
          "params": {},
          "query": {
            "request_to_jira": "What are the current items in progress in TMP in Jira?"
          },
          "body": {},
          "webhookUrl": "https://n8n-newsletter-u38841.vm.elestio.app/webhook-test/f430539d-f735-49e9-8b01-983d3ace5584",
          "executionMode": "test"
        }
      }
    ],
    "Webhook3": [
      {
        "json": {
          "headers": {
            "host": "n8n-newsletter-u38841.vm.elestio.app",
            "x-real-ip": "34.67.146.145",
            "x-forwarded-for": "34.67.146.145",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "token": "78c54c4e-7655-406f-85c7-364f83607dee",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.12 aiohttp/3.11.16"
          },
          "params": {},
          "query": {
            "request_to_jira": "What are the current items in progress in TMP in Jira?"
          },
          "body": {},
          "webhookUrl": "https://n8n-newsletter-u38841.vm.elestio.app/webhook-test/f430539d-f735-49e9-8b01-983d3ace5584",
          "executionMode": "test"
        }
      }
    ],
    "Webhook4": [
      {
        "json": {
          "headers": {
            "host": "n8n-newsletter-u38841.vm.elestio.app",
            "x-real-ip": "34.67.146.145",
            "x-forwarded-for": "34.67.146.145",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "token": "78c54c4e-7655-406f-85c7-364f83607dee",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.12 aiohttp/3.11.16"
          },
          "params": {},
          "query": {
            "request_to_jira": "What are the current items in progress in TMP in Jira?"
          },
          "body": {},
          "webhookUrl": "https://n8n-newsletter-u38841.vm.elestio.app/webhook-test/f430539d-f735-49e9-8b01-983d3ace5584",
          "executionMode": "test"
        }
      }
    ],
    "Webhook5": [
      {
        "json": {
          "headers": {
            "host": "n8n-newsletter-u38841.vm.elestio.app",
            "x-real-ip": "34.67.146.145",
            "x-forwarded-for": "34.67.146.145",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "token": "78c54c4e-7655-406f-85c7-364f83607dee",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.12 aiohttp/3.11.16"
          },
          "params": {},
          "query": {
            "request_to_jira": "What are the current items in progress in TMP in Jira?"
          },
          "body": {},
          "webhookUrl": "https://n8n-newsletter-u38841.vm.elestio.app/webhook-test/f430539d-f735-49e9-8b01-983d3ace5584",
          "executionMode": "test"
        }
      }
    ],
    "Webhook6": [
      {
        "json": {
          "headers": {
            "host": "n8n-newsletter-u38841.vm.elestio.app",
            "x-real-ip": "34.67.146.145",
            "x-forwarded-for": "34.67.146.145",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "token": "78c54c4e-7655-406f-85c7-364f83607dee",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.12 aiohttp/3.11.16"
          },
          "params": {},
          "query": {
            "request_to_jira": "What are the current items in progress in TMP in Jira?"
          },
          "body": {},
          "webhookUrl": "https://n8n-newsletter-u38841.vm.elestio.app/webhook-test/f430539d-f735-49e9-8b01-983d3ace5584",
          "executionMode": "test"
        }
      }
    ],
    "Webhook7": [
      {
        "json": {
          "headers": {
            "host": "n8n-newsletter-u38841.vm.elestio.app",
            "x-real-ip": "34.67.146.145",
            "x-forwarded-for": "34.67.146.145",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "token": "78c54c4e-7655-406f-85c7-364f83607dee",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.12 aiohttp/3.11.16"
          },
          "params": {},
          "query": {
            "request_to_jira": "What are the current items in progress in TMP in Jira?"
          },
          "body": {},
          "webhookUrl": "https://n8n-newsletter-u38841.vm.elestio.app/webhook-test/f430539d-f735-49e9-8b01-983d3ace5584",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Slack Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contacts1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "AI Agent8",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent10": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "AI Agent10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent8",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab": {
      "ai_tool": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent11": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "AI Agent11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call another Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook7": {
      "main": [
        [
          {
            "node": "AI Agent12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacts2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atlassian Execute2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atlassian Tools2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent12": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory6": {
      "ai_memory": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory7": {
      "ai_memory": [
        [
          {
            "node": "AI Agent 0",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI9": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 0",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contacts3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 0",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Approval": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bb73def-c2d1-4349-b491-dfe894687422",
  "meta": {
    "instanceId": "db3ed06fb1d71d8f93caf7da2791fd0ccc658304ef74e111008e32fa0efba548"
  },
  "id": "aLDpfKCVreiUuPTF",
  "tags": []
}